:root {
  --logo-color: #000000;
  --primary-color: #757575;
  --secondary-color: #212121;
  --acsent-color: #2196f3;
  --wight-color: #ffffff;
  --primary-fon-color: rgba(47, 48, 58, 0.8);
  --secondary-fon-color: #f5f4fa;
  --footer-bgr-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --color3: #afb1b8;
  --acsent-color-text: rgba(33, 150, 243, 0.9);
  --modal-fon: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /*outline: 1px solid var(--acsent-color);*/
}

/* logo-color: #000000 
primery-color: #757575
secondary-color: #212121
acsent-color: #2196f3
wight-color: #ffffff
secondary-fon-color: ##F5F4FA;
      
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  background-color: var(--wight-color);
  color: var(--primary-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color3);
  background-color: var(--wight-color);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1),
    250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--acsent-color);
  fill: var(--wight-color);
}

.social-links {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.social-item {
  width: calc((100% - 10px * 3) / 4);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */

.logo {
  display: inline-block;
  margin-right: 85px;

  color: var(--logo-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.logo > span {
  color: var(--acsent-color);
}

.logo:hover,
.logo:focus {
  color: var(--acsent-color);
}

/* Site nav */

/*nav {
  padding-top: 24px;
  padding-bottom: 25px;
}*/

.flexbox {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav.list,
.contacts.list {
  display: flex;
  align-items: center;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  position: relative;
  color: var(--acsent-color);
}

.hover-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--acsent-color);
  border-radius: 2px;
  display: block;

  transform: scaleX(0);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-line:hover::after,
.hover-line:focus::after {
  transform: scaleX(1);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--acsent-color);
  border-radius: 2px;
  display: block;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--acsent-color);
}

.icon-smartphone,
.icon-envelope {
  fill: var(--primary-color);
  margin-right: 10px;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.link.phone:hover .icon-smartphone,
.link.phone:focus .icon-smartphone,
.link.mail:hover .icon-envelope,
.link.mail:focus .icon-envelope {
  fill: var(--acsent-color);
}
/* 
.site-nav .link.current:hover,
.site-nav .link.current:focus {
  color: var(--secondary-color);
} */

.contacts .link {
  display: flex;
  margin-left: 30px;

  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

a.link.mail {
  margin-left: 0px;
  align-items: center;
}

.contacts {
  margin-left: auto;
}

.contacts-link {
  margin-left: 10px;
}

/*.contacts-link.envelope::before {
  content: url(../image/envelope.svg);
  background-image: url(../image/envelope.svg);
  margin-right: 10px;
}*/

/*.contacts-link.phone::before {
  content: url(../image/smartphone.svg);
  background-image: url(../image/envelope.svg);
  margin-right: 10px;
}*/

/* hero */

.hero {
  text-align: center;

  display: block;
  /*background: rgba(47, 48, 58, 0.8);*/

  /*background-image: url(../image/Hero.jpg), linear-gradient(rgba(47, 48, 58, 0.8) 0%, (rgba(47, 48, 58, 0.8) 100%);*/
}

/*.hero .conteiner {
}*/

.overlay {
  max-width: 100%;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #c4c4c4;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  /*background-color: var(--secondary-fon-color);*/
  color: var(--wight-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  margin-bottom: 10px;
  margin-top: 0px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Portfolio */

.list.filter {
  display: flex;
  justify-content: center;

  padding-bottom: 50px;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-link {
  display: inline-block;
  border: 1px solid #eeeeee;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .text,
.portfolio-link:focus .text {
  /*opacity: 1;*/
  transform: translateY(0%);
}

.picture {
  /*margin-bottom: 20px;*/
  position: relative;
  overflow: hidden;
}

.content {
  margin: 20px 24px;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.subject {
  color: var(--primary-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.text {
  color: var(--wight-color);
  background-color: var(--acsent-color-text);
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 1;
  transform: translateY(100%);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

/* Features */

.section.features {
  padding-bottom: 0px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list > .item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.features-list > .item:nth-child(4n) {
  margin-right: 0px;
}

.features-list .title {
  color: var(--secondary-color);
}

.features-item {
  fill: var(--color1, #212121);
}
/*.features .img {
  padding: 25px 100px;
  margin-bottom: 30px;
}*/
.features-item {
  /*display: block;
  width: 270px;
  height: 120px;*/
  /*padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 102px;
  padding-right: 102px;
  margin-bottom: 30px;*/
  /*background-color: var(--secondary-fon-color);*/

  /*background-size: contain;*/
}

.faetures-background {
  background-color: var(--secondary-fon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* works */

.work-items {
  display: flex;
}

.work-items > .item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-items > .item:nth-child(3n) {
  margin-right: 0px;
}

.work-items > .item:nth-child(-n + 3) {
  margin-bottom: 0px;
}

.works {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;

  background-color: var(--primary-fon-color);
  color: var(--wight-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team */
.section-team {
  background-color: var(--secondary-fon-color);
}

.team {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--wight-color);
}

.team-list > .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item > .img {
  margin-bottom: 30px;
}

.prof {
  margin-bottom: 16px;

  color: var(--primary-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Clients*/

.clients {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client {
  fill: var(--color3);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover > .icon-client,
.clients-item-link:focus > .icon-client,
.clients-item-link:hover,
.clients-item-link:focus {
  fill: var(--acsent-color);
  border-color: var(--acsent-color);
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-width: 0px;
  text-align: center;

  color: var(--wight-color);
  background-color: var(--acsent-color);

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--acsent-color);
  background-color: var(--secondary-fon-color);
  /*fill: var(--acsent-color);*/
  /*transform: scale(1.15);*/
}

.filter-button.active {
  color: var(--wight-color);
  background-color: var(--acsent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  /* font-family: 'Roboto', sans-serif; */
}

.button.plane {
  display: inline-flex;
  padding-left: 28px;
  padding-right: 28px;
  align-items: center;
  /*background-image: url(../image/icon/icon-plane.svg);
  background-repeat: no-repeat;*/
  /*background-position: bottom 13px right 28px;*/
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  fill: var(--logo-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close {
  fill: var(--acsent-color);
}

.button-close:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-plane {
  margin-left: 10px;
  fill: var(--wight-color);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.button.plane:hover .icon-plane,
.button.plane:focus .icon-plane {
  fill: var(--acsent-color);
}

.filter-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  text-align: center;

  color: var(--secondary-color);
  background-color: var(--secondary-fon-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1),
    250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--wight-color);
  background-color: var(--acsent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /*transform: scale(1.15);*/
}

.filter > li:not(:last-child) {
  margin-right: 10px;
}

/* Footer */

.footer {
  background-color: var(--footer-bgr-color);
  color: var(--wight-color);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

.footer-flexbox:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}
.footer-flexbox.subscribe {
  width: 570px;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--wight-color);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--acsent-color);
}

/*.footer .link {
  color: var(--wight-color);}*/

.footer .social-links {
  padding-left: 0px;
  padding-right: 64px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--acsent-color);
}

.footer-subscribe {
  display: inline-block;
  height: 50px;
  width: 358px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 8px;
  background-color: var(--footer-bgr-color);
  color: var(--footer-contacts-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.caption {
  display: flex;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-fon);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--wight-color);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
  width: 528px;
  height: 581px;
  padding: 40px;
}

.form-paragraf {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);

  margin-bottom: 12px;
}

.form-fild {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}

.form-input {
  padding: 11px 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
  outline-color: rgba(0, 0, 0, 0.12);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild input:focus,
.form-fild textarea:focus {
  /*outline: 1px solid var(--acsent-color);*/
  outline-color: var(--acsent-color);
  border: 0px solid var(--wight-color);
  border-radius: 0px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.agreement {
  color: var(--acsent-color);
  margin-left: 3px;
}

.form-fild-checkbox {
  text-align: center;
  margin-top: 20px;
}

.form-modal-list {
  margin-bottom: 30px;
}

.form-button {
  margin-left: 124px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
  outline-color: rgba(0, 0, 0, 0.12);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.icon {
  position: absolute;
  top: 29px;
  left: 15px;
}

.icon-item {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon > .icon-item {
  fill: var(--acsent-color);
}

.icon-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--secondary-color);
  border-radius: 3px;
  background-color: var(--wight-color);
  margin-right: 5px;
}

.input-checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: var(--acsent-color);
  background-image: url(../image/icon/check.svg);
  background-size: contain;
  background-origin: border-box;
}
